In [1]:
import pandas as pd

df = pd.read_csv("medical_insurance.csv")  # replace filename.csv with actual file
print(df.head())

   person_id  age     sex   region urban_rural   income     education  \
0      75722   52  Female    North    Suburban  22700.0     Doctorate
1      80185   79  Female    North       Urban  12800.0         No HS
2      19865   68    Male    North       Rural  40700.0            HS
3      76700   15    Male    North    Suburban  15600.0  Some College
4      92992   53    Male  Central    Suburban  89600.0     Doctorate

  marital_status employment_status  household_size  ...  liver_disease  \
0        Married           Retired               3  ...              0
1        Married          Employed               3  ...              0
2        Married           Retired               5  ...              0
3        Married     Self-employed               5  ...              0
4        Married     Self-employed               2  ...              0

   arthritis mental_health proc_imaging_count  proc_surgery_count  \
0          1             0                  1                   0
1          1             1                  0                   0
2          0             1                  1                   0
3          0             0                  1                   0
4          1             0                  2                   0

   proc_physio_count  proc_consult_count  proc_lab_count  is_high_risk  \
0                  2                   0               1             0
1                  1                   0               1             1
2                  2                   1               0             1
3                  0                   1               0             0
4                  1                   1               0             1

   had_major_procedure
0                    0
1                    0
2                    0
3                    0
4                    0

[5 rows x 54 columns]

In [3]:
import pandas as pd

df = pd.read_csv("medical_insurance.csv")  # replace filename.csv with actual file
print(df.shape)

(100000, 54)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 54 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   person_id                    100000 non-null  int64
 1   age                          100000 non-null  int64
 2   sex                          100000 non-null  object
 3   region                       100000 non-null  object
 4   urban_rural                  100000 non-null  object
 5   income                       100000 non-null  int64
 6   education                    100000 non-null  object
 7   marital_status               100000 non-null  object
 8   employment_status            100000 non-null  object
 9   household_size               100000 non-null  int64
 10  dependents                   100000 non-null  int64
 11  bmi                          100000 non-null  float64
 12  smoker                       100000 non-null  object
 13  alcohol_freq                 69917 non-null   object
 14  visits_last_year             100000 non-null  int64
 15  hospitalizations_last_3yrs   100000 non-null  int64
 16  days_hospitalized_last_3yrs  100000 non-null  int64
 17  medication_count             100000 non-null  int64
 18  systolic_bp                  100000 non-null  int64
 19  diastolic_bp                 100000 non-null  int64
 20  ldl                          100000 non-null  float64
 21  hba1c                        100000 non-null  float64
 22  plan_type                    100000 non-null  object
 23  network_tier                 100000 non-null  object
 24  deductible                   100000 non-null  int64
 25  copay                        100000 non-null  int64
 26  policy_term_years            100000 non-null  int64
 27  policy_changes_last_2yrs     100000 non-null  int64
 28  provider_quality             100000 non-null  float64
 29  risk_score                   100000 non-null  float64
 30  annual_medical_cost          100000 non-null  float64
 31  annual_premium               100000 non-null  float64
 32  monthly_premium              100000 non-null  float64
 33  claims_count                 100000 non-null  int64
 34  avg_claim_amount             100000 non-null  float64
 35  total_claims_paid            100000 non-null  float64
 36  chronic_count                100000 non-null  int64
 37  hypertension                 100000 non-null  int64
 38  diabetes                     100000 non-null  int64
 39  asthma                       100000 non-null  int64
 40  copd                         100000 non-null  int64
 41  cardiovascular_disease       100000 non-null  int64
 42  cancer_history               100000 non-null  int64
 43  kidney_disease               100000 non-null  int64
 44  liver_disease                100000 non-null  int64
 45  arthritis                    100000 non-null  int64
 46  mental_health                100000 non-null  int64
 47  proc_imaging_count           100000 non-null  int64
 48  proc_surgery_count           100000 non-null  int64
 49  proc_physio_count            100000 non-null  int64
 50  proc_consult_count           100000 non-null  int64
 51  proc_lab_count               100000 non-null  int64
 52  is_high_risk                 100000 non-null  int64
 53  had_major_procedure          100000 non-null  int64
dtypes: float64(10), int64(34), object(10)
memory usage: 41.2+ MB
None

In [5]:
df['person_id'].duplicated().sum()

np.int64(0)

In [6]:
df.isnull().sum()

person_id                          0
age                                0
sex                                0
region                             0
urban_rural                        0
income                             0
education                          0
marital_status                     0
employment_status                  0
household_size                     0
dependents                         0
bmi                                0
smoker                             0
alcohol_freq                   30083
visits_last_year                   0
hospitalizations_last_3yrs         0
days_hospitalized_last_3yrs        0
medication_count                   0
systolic_bp                        0
diastolic_bp                       0
ldl                                0
hba1c                              0
plan_type                          0
network_tier                       0
deductible                         0
copay                              0
policy_term_years                  0
policy_changes_last_2yrs           0
provider_quality                   0
risk_score                         0
annual_medical_cost                0
annual_premium                     0
monthly_premium                    0
claims_count                       0
avg_claim_amount                   0
total_claims_paid                  0
chronic_count                      0
hypertension                       0
diabetes                           0
asthma                             0
copd                               0
cardiovascular_disease             0
cancer_history                     0
kidney_disease                     0
liver_disease                      0
arthritis                          0
mental_health                      0
proc_imaging_count                 0
proc_surgery_count                 0
proc_physio_count                  0
proc_consult_count                 0
proc_lab_count                     0
is_high_risk                       0
had_major_procedure                0
dtype: int64

In [7]:
df[['age', 'bmi', 'annual_medical_cost']].describe()

                 age            bmi  annual_medical_cost
count  100000.000000  100000.000000        100000.000000
mean       47.521500      26.990512          3009.451907
std        15.988752       4.994883          3127.462822
min         0.000000      12.000000            55.550000
25%        37.000000      23.600000          1175.117500
50%        48.000000      27.000000          2082.575000
75%        58.000000      30.400000          3707.957500
max       100.000000      50.400000         65724.900000

In [8]:
df.columns = df.columns.str.lower().str.strip()

In [9]:
df['sex'] = df['sex'].str.lower()
df['region'] = df['region'].str.lower()

In [10]:
assert df['person_id'].isnull().sum() == 0
assert df.shape[0] > 0